body {
  font-family: "Poppins", sans-serif;
  color: #040000;
  background-color: #ffffff;
}

.navbar-nav {
  margin-left: auto;
}

.navbar-nav .nav-item .nav-link {
  padding: 10px 20px;
  text-align: center;
  color: #ffffff;
  position: relative;
  text-transform: uppercase;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container {
  z-index: 99999;
  padding: 1px 15px;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
  display: block;
  width: 35px;
  height: 4px;
  background-color: #ffffff;
  margin: 7px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  border-radius: 5px;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before, .custom_nav-container .navbar-toggler span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  top: -10px;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
  top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before, .custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  top: 0;
}

/* Moha */
.navbar-brand img{
  width: 70px;
  margin-left: 10px;
}

.language-dropdown {
  position: relative;
  right: -30px;
}

/*end header section*/

/* Hero Section */
.hero_area {
  height: 80%;
  position: relative;
  background-image: url(../images/bg-torrevieja.jpeg);
  background-size: cover;
  top: 15px;
}

.hero_area::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 80%;
  background-image: url(../images/bg-taxi.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

/* slider section */
.slider_section {
  height: calc(100% - 80px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  color: #3b3a3a;
  padding: 45px 0 75px 0;
}

.slider_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}


.slider_section div#carouselExampleIndicators {
  width: 130%;
  margin-left: -20%;
  position: unset;
}

.slider_section .box {
  padding-left: 15%;
  margin-bottom: 100px;
  margin-left: auto;
  margin-top: 30px;
}

.slider_section .box .detail-box {
  padding-right: 10%;
}

.slider_section .box .detail-box h4 {
  font-weight: bold;
  margin-bottom: 0;
  color: #ffffff;
}

.slider_section .box .detail-box h1 {
  font-weight: bold;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-size: 3rem;
}

.slider_section .box .img-box {
  margin: 0 7%;
}

.slider_section .box .img-box img {
  width: 100%;
}

.slider_section .box .btn-box {
  margin-top: 15px;
}

.slider_section .box .btn-box a {
  text-align: center;
  display: inline-block;
  padding: 8px 30px;
  border: 1px solid #0b0b0a;
  border-radius: 10px;
  background-color: transparent;
  color: #0b0b0a;
  font-weight: bold;
}

.slider_section .box .btn-box a:hover {
  background-color: #0b0b0a;
  color: #ffffff;
}

.slider_section .slider_form {
  width: 400px;
  padding: 25px;
  background-color: #282828;
  border-radius: 10px;
  margin: auto;
}

.slider_section .slider_form h4 {
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  margin-bottom: 20px;
}

.slider_section .slider_form form {
  margin: 15px 0;
}

.slider_section .slider_form form input {
  width: 100%;
  height: 40px;
  border: none;
  outline: none;
  margin-bottom: 15px;
  padding-left: 15px;
}

.slider_section .slider_form form .btm_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slider_section .slider_form form .btm_input input {
  width: calc(95% - 116px);
  margin: 0;
  margin-right: 10px;
}

.slider_section .slider_form form .btm_input button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-width: 116px;
  border: none;
  outline: none;
  background-color: #f7c621;
  color: #ffffff;
}

.slider_section .carousel-indicators {
  margin: 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: center;
  left: 10%;
}

.slider_section .carousel-indicators li {
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background-color: #282828;
  opacity: 1;
}

.slider_section .carousel-indicators li.active {
  background-color: #dbc64c;
}

